/*=================================Home====================================*/
body {
	background-color: rgba(0, 0, 0, 0);
	background: url("wallpaperflare.jpg") center fixed;
	background-size: cover;
	max-width: 100vw;
}

#home {
	width: 100%;
	z-index: 10;
}
/* selection des sections */
#home section {
	width: 100%;
	display: flex;
}

#home section:nth-of-type(1) {
	height: 100vh;
}
/*-------------------------------Page d'acceuil-------------------------------*/

#home section:nth-of-type(1) .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%;
	height: 90%;
	margin: auto;
	color: var(--font-color);
}

/* #home .biglogoskate {
	position: fixed;
	height: 800px;
	width: 1000px;
	font-size: 300px;
	top: 20%;
	left: 50%;
	margin-left: -500px;
	letter-spacing: 10px;
	font-family: "Open Sans Pro", sans-serif;
	background: url("wallpaperflare.jpg") center fixed;
	background-size: cover;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
} */

#home section:nth-of-type(1) .container .section-container {
	width: 100%;
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: end;
	gap: 20px;
}

#home section:nth-of-type(1) .container .section-container .logoskate {
	color: var(--font-color);
	position: relative;
	font-weight: 900;
	font-style: italic;
	z-index: -1;
}

#home section:nth-of-type(1) .container .section-container .button-nav {
	display: flex;
	flex-direction: column;
	z-index: 30;
	justify-content: center;
	align-items: center;
	transition: all 0.5s;
}

#home section:nth-of-type(1) .container .section-container .button-nav:hover {
	margin-bottom: -15px;
	margin-top: 15px;
}

#home section:nth-of-type(1) .container .section-container a {
	border-radius: 0;
	font-family: "Bebas Neue", cursive;
	font-weight: 100;
	font-size: 20px;
	letter-spacing: 3px;
	padding: 7px 30px;
}

#home section:nth-of-type(1) .container .section-container .arrow {
	border: solid var(--font-color);
	border-width: 0 4px 4px 0;
	display: inline-block;
	padding: 6px;
	width: 6px;
	height: 6px;
	transform: rotate(45deg);
	position: relative;
}

/*-------------------------------contenu de la page d'accueil-------------------------------*/

#home section:nth-of-type(2) {
	width: 100%;
	background: rgb(255, 255, 255);
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*-------------------------------box "a propos de nous"-------------------------------*/

#home section:nth-of-type(2) .container {
	height: 100vh;
	z-index: 2;
	width: 90vw;
}

#home section:nth-of-type(2) .container #productdisplay1 {
	width: 1100px;
	height: 680px;
	position: relative;
	top: 150px;
	filter: opacity(0);
	transition: all 1s;
	margin-left: 10%;
}

#home section:nth-of-type(2) .container #productdisplay1.isVisible {
	filter: opacity(100);
}

#home section:nth-of-type(2) #productdisplay1 .background-effet {
	width: 90%;
	height: 900px;
	position: relative;
}

#home section:nth-of-type(2) #productdisplay1 .product {
	background-color: white;
	height: 100%;
	display: flex;
	flex-direction: row;
}

#home section:nth-of-type(2) #productdisplay1 .product img {
	background-color: white;
	height: 100%;
	filter: brightness(0.7);
	transition: all 1s;
}

#home section:nth-of-type(2) #productdisplay1 .product .description {
	justify-self: center;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	left: -48%;
	color: white;
	transition: all 1s;
}

#home section:nth-of-type(2) #productdisplay1 .product .description span {
	color: var(--classic-blue-color-light);
	transition: all 1s;
}

#home section:nth-of-type(2) #productdisplay1 .product .description div {
	border-left: 1px solid transparent;
	width: 200%;
	display: flex;
	flex-direction: column;
	padding: 20px;
	padding-left: 60px;
	transition: border 0.5s;
}

#home section:nth-of-type(2) #productdisplay1 .product .description div h4 {
	font-size: 75px;
	font-family: "Bebas Neue";
	font-style: italic;
	font-weight: 200;
	margin-bottom: 5%;
	transition: all 0.5s;
}

#home section:nth-of-type(2) #productdisplay1 .product .description div p {
	width: 70%;
	filter: opacity(0);
	transition: all 0.5s;
	font-size: 30px;
	letter-spacing: 4px;
}

@media screen and (min-width: 950px) {
	#home section:nth-of-type(2) #productdisplay1:hover .product .description {
		left: 5%;
		color: rgb(83, 83, 83);
	}
	#home section:nth-of-type(2) #productdisplay1:hover .product img {
		filter: brightness(1);
	}

	#home
		section:nth-of-type(2)
		#productdisplay1:hover
		.product
		.description
		div {
		border-left: 1px solid var(--classic-black-color);
	}

	#home section:nth-of-type(2) #productdisplay1:hover .product .description h4 {
		color: var(--classic-blue-color);
	}
	#home
		section:nth-of-type(2)
		#productdisplay1:hover
		.product
		.description
		div
		p {
		filter: opacity(1);
	}
}

/*-------------------------------grid de navigation/presentation-------------------------------*/

#home section:nth-of-type(2) .main-container {
	height: 100vh;
	width: 100%;
	padding: 120px 30px 30px 30px;
}

#home section:nth-of-type(2) .main-container .grid-container {
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	column-gap: 1%;
	grid-template-rows: 1fr 1fr;
	row-gap: 2%;
	width: 100%;
	height: 90%;
	filter: opacity(0);
	transition: all 1s;
}

#home section:nth-of-type(2) .main-container .grid-container #cover {
	height: 100%;
	width: 100%;
	position: relative;
	background: rgba(0, 0, 0, 0.233);
	padding: 3%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	transition: all 1s;
	color: var(--font-color);
	overflow-wrap: break-word;
}

#home section:nth-of-type(2) .main-container .grid-container #cover:hover {
	background-color: transparent;
}

#home section:nth-of-type(2) .main-container .grid-container li button {
	border-radius: 45px;
	padding: 17px 25px 17px 25px;
	color: var(--font-color);
	border: none;
	font-size: 20px;
	cursor: pointer;
	transition-duration: 0.5s;
}

#home section:nth-of-type(2) .main-container .grid-container li button:hover {
	filter: brightness(1.1);
}

#home section:nth-of-type(2) .main-container .grid-container li:nth-of-type(1) {
	background: url("skatecart.jpg");
	grid-row: span 2;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#home
	section:nth-of-type(2)
	.main-container
	.grid-container
	li:nth-of-type(1)
	h4 {
	font-family: "bebas neue";
	letter-spacing: 10px;
	font-weight: 100;
}

#home
	section:nth-of-type(2)
	.main-container
	.grid-container
	li:nth-of-type(1)
	button {
	margin-bottom: 7%;
	margin-top: 3%;
	margin-left: 7%;
	background-color: #41946c;
	font-weight: 500;
}

#home section:nth-of-type(2) .main-container .grid-container li:nth-of-type(2) {
	background: url("skategrass.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#home
	section:nth-of-type(2)
	.main-container
	.grid-container
	li:nth-of-type(2)
	#cover {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 2%;
}

#home
	section:nth-of-type(2)
	.main-container
	.grid-container
	li:nth-of-type(2)
	h4 {
	font-size: 110px;
	font-style: italic;
	font-weight: 900;
	letter-spacing: 0;
}

#home section:nth-of-type(2) .main-container .grid-container li:nth-of-type(3) {
	background: url("skateperson.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	grid-row: span 2;
}

#home
	section:nth-of-type(2)
	.main-container
	.grid-container
	li:nth-of-type(3)
	#cover {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	padding: 2%;
}

#home
	section:nth-of-type(2)
	.main-container
	.grid-container
	li:nth-of-type(3)
	h4 {
	font-family: "bebas neue";
	font-size: 120px;
	letter-spacing: 10px;
	font-weight: 100;
	margin-left: 5%;
}

#home
	section:nth-of-type(2)
	.main-container
	.grid-container
	li:nth-of-type(3)
	p {
	margin: 3% 13% 6% 13%;
	font-size: 30px;
	font-weight: 400;
}

#home
	section:nth-of-type(2)
	.main-container
	.grid-container
	li:nth-of-type(3)
	button {
	background-color: #26315c;
	margin-left: 13%;
	margin-bottom: 10%;
}

#home section:nth-of-type(2) .main-container .grid-container li:nth-of-type(4) {
	background: url("__@niquebby___.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#home
	section:nth-of-type(2)
	.main-container
	.grid-container
	li:nth-of-type(4)
	#cover {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: baseline;
}

#home
	section:nth-of-type(2)
	.main-container
	.grid-container
	li:nth-of-type(4)
	h4 {
	font-family: "bebas neue";
	font-weight: 100;
	letter-spacing: 1px;
	font-size: 75px;
	margin-top: 10%;
}

#home
	section:nth-of-type(2)
	.main-container
	.grid-container
	li:nth-of-type(4)
	button {
	background-color: #daa49a;
	padding: 12px 20px 12px 20px;
	font-size: 15px;
	letter-spacing: 1px;
	margin-left: 3%;
}

/*-------------------------------boutton de navigation-------------------------------*/

#home #showcase .container .arrow-container {
	width: 100px;
	height: 100px;
	display: flex;
	position: relative;
	left: 50%;
	margin-left: -6px;
	top: 25%;
}

#home #showcase .container .arrow-container .arrow {
	border: solid var(--classic-black-color);
	width: 6px;
	height: 6px;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	position: relative;
	top: 0%;
	transform: rotate(45deg);
	transition: all 0.5s;
}

#home #showcase .container .arrow-container:hover .arrow{
	top: 30%;
}

#home #showcase .button-nav {
	width: 200px;
	height: 100px;
	display: flex;
	flex-direction: column;
	margin: auto;
	position: relative;
	justify-content: center;
	align-items: center;
	gap: 8px;
	top: 5%;
	transition: all 0.5s;
	margin-top: -2%;
}

#home #showcase .button-nav:hover {
	margin-top: 0%;
	filter: brightness(0.2);
}

#home #showcase .container .button-nav {
	top: 22%;
}

#home #showcase .button-nav .arrow {
	border: solid var(--classic-black-color);
	width: 6px;
	height: 6px;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg);
	letter-spacing: 5px;
}

#home #showcase .button-nav a:nth-of-type(1) {
	font-family: "Bebas Neue", cursive;
	color: var(--classic-black-color);
	font-size: 15px;
	letter-spacing: 2px;
	padding: 5px 23px;
	z-index: 30;
}
/*-------------------------------carousel de présentation des produits-------------------------------*/

#home section:nth-of-type(2) .carousel-container {
	width: 100%;
	z-index: 2;
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	padding: 0 0 50px 0;
	height: 100vh;
	overflow-y: hidden;
	transition: all 2s;
	filter: opacity(0);
}

#home section:nth-of-type(2) .carousel-container h4 {
	font-size: 50px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 115px;
	font-weight: 100;
	letter-spacing: 25px;
}

#home section:nth-of-type(2) .carousel-container .carousel {
	display: flex;
	overflow-x: scroll;
	scroll-padding: 0 50%;
	scroll-snap-type: x mandatory;
	padding-bottom: 15px;
	overflow-y: hidden;
}

#home section:nth-of-type(2) .carousel-container .carousel::-webkit-scrollbar {
	width: 1px;
}

#home
	section:nth-of-type(2)
	.carousel-container
	.carousel::-webkit-scrollbar-track {
	background: transparent;
}

#home
	section:nth-of-type(2)
	.carousel-container
	.carousel::-webkit-scrollbar-thumb {
	background-color: rgb(230, 230, 230);
	border-radius: 5;
}

#home
	section:nth-of-type(2)
	.carousel-container
	.carousel::-webkit-scrollbar-thumb:hover {
	background-color: rgb(201, 201, 201);
	border-radius: 5;
}

#home section:nth-of-type(2) .carousel-container .carousel-product {
	scroll-snap-align: center;
	display: inline-block;
	height: 500px;
	margin-right: 3rem;
	margin-left: 1rem;
	border: 1px solid transparent;
}

#home section:nth-of-type(2) .carousel-container .carousel-product:hover {
	border: 1px solid var(--border-element-color-light);
}

#home section:nth-of-type(2) .carousel-container .img-product {
	background-repeat: no-repeat;
	background-size: contain;
	height: 350px;
	width: 450px;
	background-position: center;
}

#home section:nth-of-type(2) .carousel-container .description {
	height: 25%;
	display: flex;
	justify-content: space-between;
	padding: 25px 15px 25px 15px;
}

#home section:nth-of-type(2) .carousel-container .description div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#home section:nth-of-type(2) .carousel-container .description button {
	margin-top: 15px;
	white-space: nowrap;
	font-size: 12px;
	letter-spacing: 1px;
	color: white;
	background-color: var(--classic-blue-color);
	border-radius: 20px;
	padding: 6px 8px 6px 8px;
	border: none;
	cursor: pointer;
}

#home section:nth-of-type(2) .carousel-container h6 {
	font-size: 20px;
	color: var(--classic-black-color);
	font-weight: 100;
}

#home section:nth-of-type(2) .carousel-container .price {
	color: rgb(34, 34, 34);
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

#home section:nth-of-type(2) .carousel-container .price.promo:nth-of-type(1) {
	text-decoration: line-through;
	filter: opacity(15%);
}

#home section:nth-of-type(2) .carousel-container .price.promo:nth-of-type(2) {
	color: var(--promo-color);
}

/*-------------------------------slider de navigation de catégories-------------------------------*/

#home section:nth-of-type(2) .category-slider-container {
	width: 100%;
	height: 95vh;
	z-index: 2;
	display: flex;
	flex-direction: column;
}

#home section:nth-of-type(2) .category-slider-container h4 {
	font-size: 50px;
	margin: auto;
	font-weight: 100;
	letter-spacing: 25px;
}

#home section:nth-of-type(2) .category-slider-container .slider {
	width: 100%;
	height: 70%;
}

#home section:nth-of-type(2) .category-slider-container .slide.first {
	background: url("skateboard_background.jpg") center;
	height: 100%;
	width: 100%;
	background-size: 200%;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	position: relative;
}

#home section:nth-of-type(2) .category-slider-container .slide.second {
	background: url("wallpaperflare.com_wallpaper.jpg") center;
	height: 100%;
	width: 100%;
	background-size: 200%;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	position: relative;
}

#home section:nth-of-type(2) .category-slider-container .slide.third {
	background: url("wallpaperflare.com_wallpaper (1).jpg") center;
	height: 100%;
	width: 100%;
	background-size: 200%;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	position: relative;
}

#home section:nth-of-type(2) .category-slider-container .slide #cover {
	height: 100%;
	width: 100%;
	position: relative;
	background: rgba(0, 0, 0, 0.233);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#home section:nth-of-type(2) .category-slider-container .slide .left-arrow {
	position: absolute;
	top: 50%;
	left: 50px;
	border: solid var(--font-color);
	border-width: 0 4px 4px 0;
	display: inline-block;
	padding: 6px;
	transform: rotate(135deg);
	cursor: pointer;
}

#home section:nth-of-type(2) .category-slider-container .slide .right-arrow {
	position: absolute;
	top: 50%;
	right: 50px;
	border: solid var(--font-color);
	border-width: 0 4px 4px 0;
	display: inline-block;
	padding: 6px;
	transform: rotate(-45deg);
	cursor: pointer;
}

#home section:nth-of-type(2) .category-slider-container h6 {
	font-family: "Bebas neue";
	font-weight: 200;
	letter-spacing: 5px;
	font-size: 200px;
	position: relative;
	z-index: 2;
}

#home section:nth-of-type(2) .category-slider-container p {
	position: relative;
	font-size: 30px;
	font-weight: 600;
	z-index: 2;
}

/*-------------------------------grid navigation de marque-------------------------------*/

#home section:nth-of-type(2) .brand-container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 5%;
}

#home section:nth-of-type(2) .brand-container h4 {
	font-size: 50px;
	font-weight: 100;
	letter-spacing: 25px;
	color: var(--font-color);
}

#home section:nth-of-type(2) .brand-container ul {
	display: grid;
	grid-template-columns: auto auto auto auto;
	width: 70%;
	height: 60%;
	column-gap: 8%;
}

#home section:nth-of-type(2) .brand-container ul li a {
	display: flex;
	width: 100%;
	height: 100%;
}

#home section:nth-of-type(2) .brand-container ul li:nth-of-type(1) {
	background-image: url("nikesb.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 100%;
	height: 100;
}

#home section:nth-of-type(2) .brand-container ul li:nth-of-type(2) {
	background-image: url("palace.png");
	background-repeat: no-repeat;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 100%;
	height: 100%;
}
#home section:nth-of-type(2) .brand-container ul li:nth-of-type(3) {
	background-image: url("spitfire.png");
	background-repeat: no-repeat;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 100%;
	height: 100%;
}
#home section:nth-of-type(2) .brand-container ul li:nth-of-type(4) {
	background-image: url("adidas.png");
	background-repeat: no-repeat;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(40deg) brightness(115%)
		contrast(100%);
	width: 100%;
	height: 100%;
}
#home section:nth-of-type(2) .brand-container ul li:nth-of-type(5) {
	background-image: url("carhartt.png");
	background-repeat: no-repeat;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(40deg) brightness(500%)
		contrast(100%);
	width: 100%;
	height: 100%;
}
#home section:nth-of-type(2) .brand-container ul li:nth-of-type(6) {
	background-image: url("dickies.png");
	background-repeat: no-repeat;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 100%;
	height: 100%;
}
#home section:nth-of-type(2) .brand-container ul li:nth-of-type(7) {
	background-image: url("pngwing.com.png");
	background-repeat: no-repeat;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(40deg) brightness(115%)
		contrast(100%);
	width: 100%;
	height: 100%;
}
#home section:nth-of-type(2) .brand-container ul li:nth-of-type(8) {
	background-image: url("vans.png");
	background-repeat: no-repeat;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(40deg) brightness(150%)
		contrast(100%);
	width: 100%;
	height: 100%;
}
/*============================Responsive====================================*/

@media screen and (min-width: 1500px) {
	#home section:nth-of-type(1) .container .section-container .logoskate {
		font-size: 440px;
		top: -15%;
	}
}

@media screen and (max-width: 1500px) {
	#home section:nth-of-type(1) .container .section-container .logoskate {
		font-size: 390px;
	}
}

@media screen and (max-width: 1450px) {
	#home section:nth-of-type(2) .main-container .grid-container {
		grid-template-columns: 2fr 1fr;
	}

	#home
		section:nth-of-type(2)
		.main-container
		.grid-container
		li:nth-of-type(3)
		h4 {
		font-size: 80px;
		line-height: 1;
	}
}

@media screen and (max-width: 1350px) {
	#home section:nth-of-type(1) .container .section-container .logoskate {
		font-size: 350px;
	}

	#home section:nth-of-type(2) .container #productdisplay1 {
		transform: scale(0.8);
	}
}

@media screen and (max-width: 1250px) {
	#home section:nth-of-type(1) .container .section-container .logoskate {
		font-size: 300px;
		letter-spacing: 1px;
		top: -20%;
	}

	#home section:nth-of-type(2) .container #productdisplay1 {
		transform: scale(0.7);
	}
}

@media screen and (max-width: 1050px) {
	#home section:nth-of-type(1) .container .section-container .logoskate {
		font-size: 250px;
	}

	#home section:nth-of-type(2) .main-container {
		height: 150vh;
	}
	#home section:nth-of-type(2) .main-container .grid-container {
		display: flex;
		flex-direction: column;
	}

	#home section:nth-of-type(2) .carousel-container h4 {
		font-size: 30px;
		letter-spacing: 10px;
	}

	#home section:nth-of-type(2) .category-slider-container h6 {
		font-size: 150px;
	}

	#home section:nth-of-type(2) .category-slider-container .description {
		width: 75%;
	}
}

@media screen and (max-width: 950px) {
	#home #showcase .container .arrow {
		display: none;
	}

	#home section:nth-of-type(2) .container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 90%;
	}

	#home section:nth-of-type(2) .container #productdisplay1 {
		transform: scale(1);
		margin-left: 0;
	}

	#home section:nth-of-type(2) .container #productdisplay1 img {
		display: none;
	}

	#home section:nth-of-type(2) .container #productdisplay1 .description {
		background: url("skategrind.jpg");
		left: 0;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	#home section:nth-of-type(2) #productdisplay1 .product .description div {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.178);
		backdrop-filter: blur(5px);
		padding: 50px;
	}
	#home section:nth-of-type(2) #productdisplay1 .product .description div p {
		filter: opacity(1);
		width: 100%;
	}

	#home section:nth-of-type(2) .category-slider-container h6 {
		font-size: 100px;
	}
}

@media screen and (max-width: 900px) {
	#home section:nth-of-type(1) .container .section-container .logoskate {
		font-size: 200px;
		top: -30%;
	}

	#home section:nth-of-type(2) .brand-container ul {
		height: 50%;
	}
}

@media screen and (min-width: 800px) {
	#home
		section:nth-of-type(2)
		.main-container
		.grid-container
		li:nth-of-type(1)
		h4 {
		font-size: 150px;
	}
}

@media screen and (max-width: 800px) {
	#home section:nth-of-type(1) .container .section-container .logoskate {
		font-size: 150px;
	}

	#home section:nth-of-type(1) .container .section-container .logoskate h4 {
		font-size: 100px;
	}

	#home section:nth-of-type(2) .main-container .grid-container {
		display: flex;
		flex-direction: column;
	}

	#home section:nth-of-type(2) .main-container .grid-container h4 {
		font-size: 100px;
	}

	#home section:nth-of-type(2) .category-slider-container h4 {
		font-size: 30px;
		letter-spacing: 10px;
	}

	#home section:nth-of-type(2) .category-slider-container h6 {
		font-size: 80px;
	}

	#home section:nth-of-type(2) .category-slider-container p {
		font-size: 20px;
	}

	#home section:nth-of-type(2) .brand-container h4 {
		font-size: 40px;
		letter-spacing: 10px;
	}

	#home section:nth-of-type(2) .brand-container {
		height: 80vh;
	}

	#home section:nth-of-type(2) .brand-container ul {
		height: 40%;
	}
}

@media screen and (max-width: 600px) {
	#home section:nth-of-type(1) .container .section-container .logoskate {
		font-size: 100px;
	}

	#home section:nth-of-type(2) #productdisplay1 .product .description div h4 {
		font-size: 50px;
	}
	#home section:nth-of-type(2) #productdisplay1 .product .description div p {
		font-size: 25px;
	}

	#home section:nth-of-type(2) .grid-container li:nth-of-type(1) h4 {
		font-size: 60px;
	}

	#home section:nth-of-type(2) .carousel-container h4 {
		font-size: 20px;
		letter-spacing: 5px;
	}

	#home section:nth-of-type(2) .category-slider-container h4 {
		font-size: 20px;
		letter-spacing: 5px;
	}

	#home section:nth-of-type(2) .category-slider-container h6 {
		font-size: 60px;
	}

	#home section:nth-of-type(2) .category-slider-container p {
		font-size: 12px;
		font-weight: 100;
	}

	#home section:nth-of-type(2) .brand-container {
		height: 50vh;
	}

	#home section:nth-of-type(2) .brand-container h4 {
		font-size: 20px;
	}
}

@media screen and (max-width: 500px) {
	#home section:nth-of-type(2) #productdisplay1 .product .description div h4 {
		font-size: 40px;
	}
	#home section:nth-of-type(2) #productdisplay1 .product .description div p {
		font-size: 20px;
	}

	#home
		section:nth-of-type(2)
		.main-container
		.grid-container
		li:nth-of-type(2)
		h4 {
		font-size: 80px;
	}

	#home
		section:nth-of-type(2)
		.main-container
		.grid-container
		li:nth-of-type(4)
		h4 {
		font-size: 50px;
	}

	#home section:nth-of-type(2) .category-slider-container h6 {
		font-size: 45px;
	}

	#home section:nth-of-type(2) .brand-container ul {
		height: 30%;
	}
}

@media screen and (max-width: 300px) {
	body {
		transform: scale(0.8);
	}
}

@media only screen and (hover: none) and (pointer: coarse) {
	.brand-container {
		background: var(--classic-black-color-dark);
		margin-top: 0;
	}
}
